.section {
    min-height: 80vh;
}

.userCard {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    gap: 8px;
    padding: 16px 0;
    border-bottom: 1px solid #ececec;
}

.userCard img {
    object-fit: cover;
    width: 80px;
    height: 80px;
}

.link {
    color: #000;
}

.link:hover {
    text-decoration: none;
}

.userCard h2 {
    margin-bottom: 0px;
    text-transform: capitalize;
}

.userCard p {
    margin-bottom: 0px;
}


.userCard img {
    height: 80px;
}