.friendRequestWrapper {
    position: absolute;
    right: 20px;
    z-index: 10;
    min-height: 240px;
    padding-bottom: 20px;
    width: 250px;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #ececec;
}


.friendRequestWrapper header {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.friendRequestWrapper ul {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 14px;
}


.friendRequestWrapper ul, .friendRequestWrapper li {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.friendRequestWrapper li {
    min-width: 100%;
    padding: 20px;
}