.userDetailsSection {
    min-height: 90vh;
}

.userCardWrapper {
    border-bottom: 1px solid #ececec;
}

.userCard {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 32px;
}


.loading {
    text-align: center;
    margin-top: 20px;
}

.userCard img {
    height: 320px;
    width: 320px;
}

.userInfo p {
    margin-bottom: 5px;
}


.userInfo h1 {
    text-transform: capitalize;
}

.userInfo h1 + p {
    text-transform: capitalize;
}

.userInfo > p + p {
    margin-bottom: 16px;
}

.editUser article {
    width: 100vw;
}

.preview {
    margin-bottom: 14px;
}

