.photo:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: span 2;
}

@media (max-width: 40rem) {
    .photo:nth-child(5) {
        grid-column: initial;
        grid-row: initial;
    }
}

.photo {
    display: grid;
    overflow: hidden;
    cursor: pointer;
}


.photo > div {
    grid-area: 1/1;
}

.photo:hover {
    filter: brightness(0.8);
}